{% extends 'base.html.twig' %}

{% block title %}TFE | Log in{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('/build/css/login.css') }}">
{% endblock %}

{% block body %}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <form method="post" class="form-perso">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="fadeIn first">
                <h1 class="h3 mb-3 font-weight-normal">Log In</h1>
            </div>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >


            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>

            <button class="btn btn-lg btn-primary" type="submit">
                Sign in
            </button>
        </form>
    </div>
</div>
{% endblock %}
